<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragmet="head">
    <meta charset="UTF-8">
    <title>Capybara Site</title>
    <link rel="icon" href="image/235359.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark px-3 mb-3" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index" id="nav-item-main">Capybara Manager</a>
        <div class="collapse navbar-collapse flex-grow-1 text-right">
            <ul class="nav nav-pills ms-auto flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="/allCapybara" id="nav-item">All Capybara</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addCapybara" id="nav-item">Add Capybara</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>